ul {
    list-style-type: square;
    background: #3399ff;
    padding: 15px;
   }
   ul li {
    background: #cce5ff;
    padding: 5px;
    margin: 5px 0 0 35px;
   }
   ol {
    background: #ff9999;
    padding: 15px;
   }
   ol li {
    background: #ffe5e5;
    padding: 5px;
    margin: 5px 0 0 35px;
   }
   body {
    padding: 15px;
    font-size: medium;
   }
   h1 {
    margin: 5px 20px;
    font-size: 60px;
    color: #365d7a;
   }
   img {
    width: 300px;
    margin: 5px;
    border-radius: 12px;
    box-shadow: 2px 2px 1px 1px #f80202;
   }
body{
    background-color: rgb(200, 144, 233);
}
 h1{
    color: black;
    }